nav {
    height: 80px;
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
.box {
    display: flex;
    justify-content: center;

}

.img1 {
    background-image: url('https://images.app.goo.gl/1q5ecnd9G95nQ4vr6');
}

.img2 {
    background-image: url('https://images.app.goo.gl/g5pJ5SU6MC8aJDqU6');
}

.img3 {
    background-image: url('https://images.app.goo.gl/9U45GAwJ3VC6MPWz9');
}

.img1, .img2, .img3 {
    display:  block;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.overlay {
    position: absolute;
    background-color: gray;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    
}

.box:hover, .overlay {
    height: 100%;
}

