nav {
  height: 80px;
  background-color: #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
body {
    margin: 0;
    border: 5px solid black;
    height: 100vh;
    position: relative;
  }
  
  .one {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: red;
  }
  
  .two {
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: yellow;
  }
  
  .three {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: green;
  }
  
  .four {
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: blue;
  }
  